/* Global*/
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.flexbox {
  display: flex;
}

.container {
  max-width: 960px;
}

.logo {
  height: 1.5rem;
  margin-right: 1rem;
}
/*Global below 500 pixels*/
@media only screen and (max-width: 500px) {
  .hide {
    display: none;
  }

  p {
    font-size: 0.77rem;
  }
}

/*Main and Navbar*/
main {
  width: 100%;
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.navbar {
  width: 51.333rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 2rem;
  margin-top: 1rem;
  background-color: cadetblue;
}

.logo-container {
  align-items: center;
  color: white;
  width: 30%;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

nav a:hover {
  color: black;
}

.menu {
  display: none;
}

.tagline {
  padding: 1.5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  width: auto;
  display: inline-block;
  float: right;
  position: relative;
  left: 2rem;
}
/* Main and Navbar < 768 pixels*/
@media only screen and (max-width: 768px) {
  main {
    height: 22rem;
  }

  .navbar {
    max-width: 768px;
    margin-top: 0;
  }
  .logo-container {
    width: 40%;
  }

  .tagline {
    padding: 0.75rem 4rem;
    font-size: 0.665rem;
    margin-top: 5rem;
    left: -2rem
  }
}
/* Main and Navbar below 500 pixels*/
@media only screen and (max-width: 500px) {
  main {
    background-position: 20%;
    height: 17rem;
  }

  .menu {
    display: inline;
  }

  .navbar {
    max-width: 500px;
  }

  .tagline {
    position: static;
    display: flex;
    justify-content: center;
    float: none;
    max-width: 500px;
    margin-top: 9rem;
    padding: 0.5rem;
    font-size: 0.5rem;
  }
}

/*Icons*/
section {
  width: 100%;
  justify-content: center;
}

.icon-column {
  margin: 0 3rem;
  text-align: center;
  margin-top: 3rem;
  width: 5rem;
  height: 8rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.paper {
  width: 3.5rem;
}

.ruler-truck {
  width: 5rem;
}
/*Icons below 500px*/
@media only screen and (max-width: 500px) {
    section{
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .icon-column {
      margin-top: 1.54rem;
    }

    #icon-top {
      margin-top: 3.77rem;
    }
}

/*Info Section*/
time {
  justify-content: center;
}

.info-container {
  flex-direction: column;
  margin-top: 3rem;
  width: 35%;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.label {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
/*Info Section < 768 pixels*/
.info {
  margin: 3rem auto 5rem auto;
}
/*Info Section below 500 pixels*/
@media only screen and (max-width: 500px) {
  .info {
    margin: 3.77rem 0 0 0;
    flex-direction: column;
  }
  .info-container {
    margin: 0 0 4rem 0;
    width: 100%;
  }
  .label {
    width: 100%;
    text-align: center;
  }
}

/*Footer*/
footer {
  width: 49.333rem;
  background-color: azure;
  padding: 4rem;
  align-items: center;
}

.footer {
  justify-content: center;
}
/*Footer below 500 pixels*/
@media only screen and (max-width: 500px) {
footer {
  justify-content: center;
}
}
